.card{
    
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
    background-color: rgb(232, 131, 131);
    border-radius: 20px;    
    margin: 50px auto; 
    width: 600px;  

} 

Form{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

Form input{
    outline: none;
    height: 30px;
    font-size: 20px;
    padding: 2px 8px;
    
}

Form label{
    font-size: 25px;
    font-weight: 500;
}

.input{

    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 400px;  

}

.btn{

    background-color: rgb(16, 77, 218);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 100px; 
    
    &:hover{
        
        background-color: rgb(68, 110, 209);

    }

}