.card{
    
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
    background-color: rgb(101, 215, 81);
    border-radius: 20px;    
    margin: 50px auto; 
    width: 600px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

} 

Form{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

Form input{
    outline: none;
    height: 30px;
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 10px; 
    border: none ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

Form label{
    font-size: 25px;
    font-weight: 500;
}

.input{

    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 400px; 

}

.btn{

    background-color: rgb(16, 77, 218);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 100px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    
    &:hover{
        
        background-color: rgb(68, 110, 209);

    }

}

.error{

    color: rgb(222, 0, 0);
    font-size: 15px;
    padding: 4px;

}